body {
  background-color: #f5810c;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
}
img.logo {
  position: absolute;
  top: 25px;
  left: 50px;
  z-index: 0;
  height: 40px;
}
img.nev_left {
  position: absolute;
  top: 40px;
  left: 1388px;
  z-index: 0;
  width: 10px;
}
div.back {
  position: absolute;
  top: 22px;
  left: 1410px;
  border-radius: 8px;
  border: 0px solid #00AA00;
  z-index: 0;
  color: #e02c1f;
}
div.ba1 {
  position: absolute;
  top: 30px;
  left: 1378px;
  border-radius: 8px;
  border: 0px solid #00AA00;
  width: 90px;
  height: 35px;
  background-color: white;
  z-index: 0;
}
div.ba2 {
  position: absolute;
  top: 30px;
  left: 1230px;
  border-radius: 8px;
  border: 0px solid #00AA00;
  width: 130px;
  height: 35px;
  background-color: white;
  z-index: 0;
  text-align: center;
}
p.homepage {
  position: relative;
  top: -7px;
  text-align: center;
  color: #e02c1f;
}

div.fill1 {
  position: relative;
  left: 40px;
  top: 720px;
  width: 1400px;
  padding: 10px;
}
div.a1 {
  position: relative;
  left: 40px;
  top: 75px;
  width: 1400px;
  border-radius: 6px;
  border: 0px;
  padding: 10px;
  background-color: #f2f0e4;
}
div.a2 {
  position: relative;
  left: 40px;
  top: 80px;
  width: 1400px;
  border-radius: 6px;
  border: 0px;
  padding: 10px;
  background-color: #e0dfd7;
}

div.a3 {
  position: absolute;
  left: 47px;
  top: 320px;
  width: 1400px;
  border-radius: 6px;
  border: 0px;
  background-color: #f2f0e4;
  padding: 10px;
}
div.a3_2 {
  position: absolute;
  left: 47px;
  top: 293px;
  width: 1400px;
  border-radius: 6px;
  border: 0px;
  background-color: #f2f0e4;
  padding: 10px;
}
p.mount {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
}
p.quote1 {
  margin-left: 30px;
  font-size: 40px;
  margin-bottom: -30px
}
p.quote2 {
  margin-left: 30px;
  font-size: 40px;
  margin-top: -5px;
  margin-bottom: -5px;
}


img.role1 {
  position: relative;
  width: 400px;
  float: left;
  margin-left: 65px;
  margin-top: 30px;
  border-radius: 6px;
}
img.role2 {
  position: relative;
  width: 400px;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 6px;
}
img.role3 {
  position: relative;
  width: 400px;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 6px;
}

img.role2a {
  position: relative;
  width: 400px;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
}
img.role2b {
  position: relative;
  width: 400px;
  float: left;
  margin-left: 30px;
  margin-top: 15px;
  border-radius: 6px;
  margin-bottom: 20px;
}
